<ion-content fullscreen>
  <ion-toolbar color="primary" class="toolbar-left-radius">
    <img src="assets/back.png" alt="..." class="back-icon" routerLink="/option" routerDirection="forward">
    <ion-row>
      <ion-col class="text-center">
        <img src="assets/delete.png" alt="..." class="information-img">
        <div class="option-title">
          ELIMINAR CARGADOR
        </div>
        <br>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <div class="setting-form">
    <br>
    <div class="forgot-form">
      <div class="forgot-title">
        ¿DESEAS ELIMINAR
        EL PUNTO DE RECARGA?
      </div>
      <br>
      <br>
      <br>
      <ion-row>
        <button class="signin-button" routerLink="/option" routerDirection="forward">NO</button>
      </ion-row>
      <br>
      <ion-row>
        <button class="signin-button" routerLink="/remove-done" routerDirection="forward">SI, QUIERO ELIMINARLO</button>
      </ion-row>
    </div>
  </div>
</ion-content>
