<ion-content fullscreen>
  <ion-toolbar color="primary" class="toolbar-radius">
    <img src="assets/back.png" alt="..." class="back-icon" routerLink="/home"
      routerDirection="forward">
    <ion-row>
      <ion-col class="text-center">
        <img src="assets/statistics-logo.png" alt="..." class="information-img">
        <div class="option-title">
          ESTADÍSTICAS
          <div class="option-sub-title">
            TOTAL DE CARGADORES
          </div>
        </div>
        <br>
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <ion-card style="margin-top: -20px;z-index: 10;" mode="ios">
    <ion-card-content style="padding: 6px;">
      <ion-toolbar mode="md">
        <ion-segment value="1" (ionChange)="segmentChanged($event)"
          color="primary">
          <ion-segment-button value="1">
            <!-- <ion-icon name="flash-outline"></ion-icon> -->
             <img src="assets/electric.png" class="euro-img" *ngIf="!electricActive">
            <img src="assets/electric-active.png" class="euro-img" *ngIf="electricActive">
          </ion-segment-button>
          <ion-segment-button value="2" rippleEffect="false">
            <!-- <ion-icon name="time-outline"></ion-icon> -->
            <img src="assets/timer.png" class="euro-img" *ngIf="!timeActive">
            <img src="assets/timer-active.png" class="euro-img" *ngIf="timeActive">
          </ion-segment-button>
          <ion-segment-button value="3">
            <img src="assets/euro.png" class="euro-img" *ngIf="!euroActive">
            <img src="assets/euro-active.png" class="euro-img" *ngIf="euroActive">
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col>
      <div class="d-flex-v-center">
        <ion-label class="dater-text">
          DESDE
        </ion-label>
        &nbsp;
        &nbsp;
        <ion-datetime class="datetime-ion" value="{{today | date}}"
          doneText="Ok"
           monthShortNames='Ener, Febr, Marz, Abri, Mayo, Juni, Juli, Agos, Sept, Octu, Novi, Dici' 
          cancelText="Cancelar" placeholder="Select Date" mode="ios"></ion-datetime>
        <img src="assets/calendar.png" alt="" class="calendar-icon">
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="d-flex-v-center">
        <ion-label class="dater-text">
          HASTA
        </ion-label>
        &nbsp;
        &nbsp;
        <ion-datetime class="datetime-ion" value="{{today | date}}"
          doneText="Ok"
  monthShortNames='Ener, Febr, Marz, Abri, Mayo, Juni, Juli, Agos, Sept, Octu, Novi, Dici' 
          cancelText="Cancelar" placeholder="Select Date" mode="ios"></ion-datetime>
        <img src="assets/calendar.png" alt="" class="calendar-icon">
      </div>
    </ion-col>
  </ion-row>
  <div [ngSwitch]="segment">
    <div *ngSwitchCase="1">
      <br>
      <br>
      <ion-row>
        <ion-col>
          <canvas #lineCanvas></canvas>
        </ion-col>
      </ion-row>
      <div class="text-center">
        <span class="chart-total">
          TOTAL: 206 kWh
        </span>
      </div>
    </div>
    <div *ngSwitchCase="2">
      <br>
      <br>
      <ion-row>
        <ion-col>
          <canvas #lineCanvasTimer></canvas>
        </ion-col>
      </ion-row>
      <div class="text-center">
        <span class="chart-total">
          TOTAL: 206 h43m
        </span>
      </div>
    </div>
    <div *ngSwitchCase="3">
      <br>
      <br>
      <ion-row>
        <ion-col>
          <canvas #lineCanvasEuro></canvas>
        </ion-col>
      </ion-row>
      <div class="text-center">
        <span class="chart-total">
          TOTAL: 42,89 €
        </span>
      </div>
    </div>
  </div>
  <canvas #lineCanvas style="display: none;"></canvas>
  <canvas #lineCanvasTimer style="display: none;"></canvas>
  <canvas #lineCanvasEuro style="display: none;"></canvas>

</ion-content>
