<ion-content fullscreen>
  <ion-toolbar color="primary" class="toolbar-radius">
    <img src="assets/back.png" alt="..." class="back-icon" routerLink="/non-connection" routerDirection="forward">
    <img src="assets/option.png" alt="..." class="option-icon" routerLink="/option" routerDirection="forward">
    <ion-row>
      <ion-col>
        <div class="device-title">
          Dark Garaje B
        </div>
        <br>
        <br>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <div class="connection">
    <ion-card style="margin-top: -45px;z-index: 10;" mode="ios">
      <ion-card-content>
        <ion-row>
          <ion-col class="text-center">
            <div class="ampere-value">{{ampeaValue}}</div>
            <div class="ampere-text">
              AMPERIOS
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
             <ion-range min="0" max="40" step="2" value="20"  value="{{ampeaValue}}" snaps color="primary" (ionChange)="onChangeAmpea($event)">
            </ion-range>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios" class="program-card">
      <ion-card-content>
        <ion-row>
          <ion-col>
            <div class="text-center">
              <img src="assets/program.png" class="program-icon">
              <div class="program-card-title">
                PROGRAMA LA CARGA
              </div>
            </div>
          </ion-col>
        </ion-row>
        <!-- <ion-toolbar> -->
        <ion-segment value="1" style="background: red; width: 100%;" mode="ios"
          (ionChange)="segmentChanged($event.target.value)">
          <ion-segment-button value="1" class="stastics-seg timer-seg">
            <ion-label>TEMPORIZADOR 1</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2" class="stastics-seg timer-seg">
            <ion-label>TEMPORIZADOR 2</ion-label>
          </ion-segment-button>
        </ion-segment>
        <!-- </ion-toolbar> -->
        <div [ngSwitch]="segment">
          <div *ngSwitchCase="1">
            <form [formGroup]="timerForm">
              <ion-row>
                <ion-col class="d-flex-v-center">
                  <div class="isNonActive-div d-flex-v-center" (click)="onChangeSelect('L')" *ngIf="!this.isLActive">
                    L
                  </div>
                  <div class="isActive-div d-flex-v-center" (click)="onChangeSelect('L')" *ngIf="this.isLActive">
                    L
                  </div>
                  <div class="isNonActive-div d-flex-v-center" (click)="onChangeSelect('M')" *ngIf="!this.isMActive">
                    M
                  </div>
                  <div class="isActive-div d-flex-v-center" (click)="onChangeSelect('M')" *ngIf="this.isMActive">
                    M
                  </div>
                  <div class="isActive-div d-flex-v-center" (click)="onChangeSelect('X')" *ngIf="this.isXActive">
                    X
                  </div>
                  <div class="isNonActive-div d-flex-v-center" (click)="onChangeSelect('X')" *ngIf="!this.isXActive">
                    X
                  </div>
                  <div class="isNonActive-div d-flex-v-center" (click)="onChangeSelect('J')" *ngIf="!this.isJActive">
                    J
                  </div>
                  <div class="isActive-div d-flex-v-center" (click)="onChangeSelect('J')" *ngIf="this.isJActive">
                    J
                  </div>
                  <div class="isNonActive-div d-flex-v-center" (click)="onChangeSelect('V')" *ngIf="!this.isVActive">
                    V
                  </div>
                  <div class="isActive-div d-flex-v-center" (click)="onChangeSelect('V')" *ngIf="this.isVActive">
                    V
                  </div>
                  <div class="isNonActive-div d-flex-v-center" (click)="onChangeSelect('S')" *ngIf="!this.isSActive">
                    S
                  </div>
                  <div class="isActive-div d-flex-v-center" (click)="onChangeSelect('S')" *ngIf="this.isSActive">
                    S
                  </div>
                  <div class="isNonActive-div d-flex-v-center" (click)="onChangeSelect('D')" *ngIf="!this.isDActive">
                    D
                  </div>
                  <div class="isActive-div d-flex-v-center" (click)="onChangeSelect('D')" *ngIf="this.isDActive">
                    D
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="timer-group text-center">
                    <ion-label>
                      INICIO
                    </ion-label>
                    <div class="d-flex-v-center" style="margin: 0 48px;">
                      <ion-input #otp1 required maxLength="1" class="timper-input" min="0" max="9"
                        (keyup)="otpController($event,otp2,'')" inputmode="numeric" pattern="^[0-9]*$" (ionInput)="onValidation($event)"
                       >
                      </ion-input>
                      <ion-input #otp2 required maxLength="1" class="timper-input" min="0" max="9"
                        (keyup)="otpController($event,otp3,otp1)" inputmode="numeric" pattern="^[0-9]*$">
                      </ion-input>
                      :
                      <ion-input #otp3 required maxLength="1" class="timper-input" min="0" max="9"
                        (keyup)="otpController($event,otp4,otp2)" inputmode="numeric" pattern="^[0-9]*$">
                      </ion-input>
                      <ion-input #otp4 required maxLength="1" class="timper-input" min="0" max="9"
                        (keyup)="otpController($event,'',otp3)" (ionInput)="onInputLast($event)"  inputmode="numeric" pattern="^[0-9]*$">
                      </ion-input>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="timer-group text-center">
                    <ion-label>
                      FIN
                    </ion-label>
                    <div class="d-flex-v-center" style="margin: 0 48px;">
                      <ion-input #otp5 required maxLength="1" class="timper-input" min="0" max="9"
                        (keyup)="otpController($event,otp6,'')" inputmode="numeric" pattern="^[0-9]*$" >
                      </ion-input>
                      <ion-input #otp6 required maxLength="1" class="timper-input" min="0" max="9"
                        (keyup)="otpController($event,otp7,otp5)" inputmode="numeric" pattern="^[0-9]*$">
                      </ion-input>
                      :
                      <ion-input #otp7 required maxLength="1" class="timper-input" min="0" max="9"
                        (keyup)="otpController($event,otp8,otp6)" inputmode="numeric" pattern="^[0-9]*$">
                      </ion-input>
                      <ion-input #otp8 required maxLength="1" class="timper-input" min="0" max="9"
                        (keyup)="otpController($event,'',otp7)" (ionInput)="onInputLast($event)"  inputmode="numeric" pattern="^[0-9]*$">
                      </ion-input>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
              <br>
              <div class="text-center">
                <button class="add-button" routerLink="/program-report" routerDirection="forward">AÑADIR</button>
              </div>
              <br>
              <button class="card-button" routerLink="/program-report" routerDirection="forward">
                VER CARGAS PROGRAMADAS
              </button>
            </form>
          </div>
          <div *ngSwitchCase="2">
            <ion-row>
              <ion-col class="d-flex-v-center">
                <div class="isNonActive-div d-flex-v-center" (click)="onChangeSelect('L')" *ngIf="!this.isLActive">
                  L
                </div>
                <div class="isActive-div d-flex-v-center" (click)="onChangeSelect('L')" *ngIf="this.isLActive">
                  L
                </div>
                <div class="isNonActive-div d-flex-v-center" (click)="onChangeSelect('M')" *ngIf="!this.isMActive">
                  M
                </div>
                <div class="isActive-div d-flex-v-center" (click)="onChangeSelect('M')" *ngIf="this.isMActive">
                  M
                </div>
                <div class="isActive-div d-flex-v-center" (click)="onChangeSelect('X')" *ngIf="this.isXActive">
                  X
                </div>
                <div class="isNonActive-div d-flex-v-center" (click)="onChangeSelect('X')" *ngIf="!this.isXActive">
                  X
                </div>
                <div class="isNonActive-div d-flex-v-center" (click)="onChangeSelect('J')" *ngIf="!this.isJActive">
                  J
                </div>
                <div class="isActive-div d-flex-v-center" (click)="onChangeSelect('J')" *ngIf="this.isJActive">
                  J
                </div>
                <div class="isNonActive-div d-flex-v-center" (click)="onChangeSelect('V')" *ngIf="!this.isVActive">
                  V
                </div>
                <div class="isActive-div d-flex-v-center" (click)="onChangeSelect('V')" *ngIf="this.isVActive">
                  V
                </div>
                <div class="isNonActive-div d-flex-v-center" (click)="onChangeSelect('S')" *ngIf="!this.isSActive">
                  S
                </div>
                <div class="isActive-div d-flex-v-center" (click)="onChangeSelect('S')" *ngIf="this.isSActive">
                  S
                </div>
                <div class="isNonActive-div d-flex-v-center" (click)="onChangeSelect('D')" *ngIf="!this.isDActive">
                  D
                </div>
                <div class="isActive-div d-flex-v-center" (click)="onChangeSelect('D')" *ngIf="this.isDActive">
                  D
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <div class="timer-group text-center">
                    <ion-label>
                      INICIO
                    </ion-label>
                    <div class="d-flex-v-center" style="margin: 0 48px;">
                      <ion-input #otp1 required maxLength="1" class="timper-input" min="0" max="9"
                        (keyup)="otpController($event,otp2,'')" inputmode="numeric" pattern="^[0-9]*$" (ionInput)="onValidation($event)"
                       >
                      </ion-input>
                      <ion-input #otp2 required maxLength="1" class="timper-input" min="0" max="9"
                        (keyup)="otpController($event,otp3,otp1)" inputmode="numeric" pattern="^[0-9]*$">
                      </ion-input>
                      :
                      <ion-input #otp3 required maxLength="1" class="timper-input" min="0" max="9"
                        (keyup)="otpController($event,otp4,otp2)" inputmode="numeric" pattern="^[0-9]*$">
                      </ion-input>
                      <ion-input #otp4 required maxLength="1" class="timper-input" min="0" max="9"
                        (keyup)="otpController($event,'',otp3)" (ionInput)="onInputLast($event)"  inputmode="numeric" pattern="^[0-9]*$">
                      </ion-input>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="timer-group text-center">
                    <ion-label>
                      FIN
                    </ion-label>
                    <div class="d-flex-v-center" style="margin: 0 48px;">
                      <ion-input #otp5 required maxLength="1" class="timper-input" min="0" max="9"
                        (keyup)="otpController($event,otp6,'')" inputmode="numeric" pattern="^[0-9]*$" >
                      </ion-input>
                      <ion-input #otp6 required maxLength="1" class="timper-input" min="0" max="9"
                        (keyup)="otpController($event,otp7,otp5)" inputmode="numeric" pattern="^[0-9]*$">
                      </ion-input>
                      :
                      <ion-input #otp7 required maxLength="1" class="timper-input" min="0" max="9"
                        (keyup)="otpController($event,otp8,otp6)" inputmode="numeric" pattern="^[0-9]*$">
                      </ion-input>
                      <ion-input #otp8 required maxLength="1" class="timper-input" min="0" max="9"
                        (keyup)="otpController($event,'',otp7)" (ionInput)="onInputLast($event)"  inputmode="numeric" pattern="^[0-9]*$">
                      </ion-input>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            <br>
            <div class="text-center">
              <button class="add-button" routerLink="/program-report" routerDirection="forward">AÑADIR</button>
            </div>
            <br>
            <button class="card-button" routerLink="/program-report" routerDirection="forward">
              VER CARGAS PROGRAMADAS
            </button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <br>
  <br>
  <br>
  <br>
</ion-content>
