<ion-content fullscreen>
  <div class="done-form">
    <img src="assets/success.png">
    <div class="done-title">
      TE DAMOS LA BIENVENIDA
    </div>
    <br>

    <div class="done-text">
      Para comenzar a disfrutar de
      la experiencia V2C, tan solo
      queda que verifiques la dirección de
      correo electrónico en el email que
      acabas de recibir.
    </div>
    <br>
    <br>
    <button class="done-button" routerLink="/home" routerDirection="forward">
      ¡COMENZAR!
    </button>
  </div>
</ion-content>
