<ion-header no-border class="ion-no-border">
  <ion-toolbar color="primary" class="toolbar-radius">
    <img src="assets/back.png" alt="..." class="back-icon" routerLink="/setting" routerDirection="forward">
    <ion-row>
      <ion-col class="text-center">
        <img src="assets/share.png" alt="..." class="notification-img">
        <div class="setting-title">
          COMPARTIR CARGADOR
        </div>
        <br>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="setting-form">
    <br>
    <div class="forgot-form">
      <div class="forgot-title">
        INVITACIÓN
ENVIADA
CORRECTAMENTE
      </div>
      <br>
      <div class="forgot-text">
        ¡Todo está listo para que compartáis
el punto de recarga!
      </div>
      <br>

      <br>
      <button class="signin-button" routerLink="/option" routerDirection="forward">VOLVER</button>
    </div>
  </div>
</ion-content>
