<ion-content fullscreen>
  <ion-toolbar color="primary" class="toolbar-radius">
    <img src="assets/back.png" alt="..." class="back-icon" routerLink="/option" routerDirection="forward">
    <ion-row>
      <ion-col class="text-center">
        <img src="assets/statistics-logo.png" alt="..." class="information-img">
        <div class="option-title">
          ESTADÍSTICAS
        </div>
        <br>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-card style="margin-top: -20px;z-index: 10;" mode="ios">
    <ion-card-content style="padding: 6px;">
      <ion-toolbar mode="md">
        <ion-segment value="1" (ionChange)="segmentChanged($event)" color="primary" class="statistics-seg">
          <ion-segment-button value="1" class="segment-button">
            <!-- <ion-icon name="flash-outline" mode="ios"></ion-icon> -->
            <img src="assets/electric.png" class="euro-img" *ngIf="!electricActive">
            <img src="assets/electric-active.png" class="euro-img" *ngIf="electricActive">
          </ion-segment-button>
          <ion-segment-button value="2" class="segment-button">
            <!-- <ion-icon name="time-outline" mode="ios"></ion-icon> -->
            <img src="assets/timer.png" class="euro-img" *ngIf="!timeActive">
            <img src="assets/timer-active.png" class="euro-img" *ngIf="timeActive">
          </ion-segment-button>
          <ion-segment-button value="3" class="segment-button">
            <!-- <ion-icon name="logo-euro" mode="ios"></ion-icon>
             -->
            <img src="assets/euro.png" class="euro-img" *ngIf="!euroActive">
            <img src="assets/euro-active.png" class="euro-img" *ngIf="euroActive">
          </ion-segment-button>
          <ion-segment-button value="4" class="segment-button">
            <!-- <ion-icon name="menu-outline" mode="ios"></ion-icon> -->
            <img src="assets/humburger.png" class="euro-img" *ngIf="!humburgerActive">
            <img src="assets/humburger-active.png" class="euro-img" *ngIf="humburgerActive">
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col>
      <div class="d-flex-v-center">
        <ion-label class="dater-text">
          DESDE
        </ion-label>
        &nbsp;
        &nbsp;
        <ion-datetime class="datetime-ion" value="{{today | date}}" doneText="Ok"   monthShortNames='Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic'  cancelText="Cancelar" placeholder="Select Date" mode="ios"></ion-datetime>
        <img src="assets/calendar.png" alt="" class="calendar-icon">
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="d-flex-v-center">
        <ion-label class="dater-text">
          HASTA
        </ion-label>
        &nbsp;
        &nbsp;
        <ion-datetime class="datetime-ion" value="{{today | date}}" doneText="Ok"  monthShortNames='Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic'  cancelText="Cancelar" placeholder="Select Date" mode="ios"></ion-datetime>
        <img src="assets/calendar.png" alt="" class="calendar-icon">
      </div>
    </ion-col>
  </ion-row>
  <div [ngSwitch]="segment">
    <div *ngSwitchCase="1">
      <br>
      <br>
      <ion-row>
        <ion-col>
          <canvas #lineCanvas colours="[ { fillColor: '#ffff00' }, { fillColor:
            '#0066ff' } ]"></canvas>
        </ion-col>
      </ion-row>
      <div class="text-center tp-10">
        <span class="chart-total">
          TOTAL: 206 kWh
        </span>
      </div>
    </div>
    <div *ngSwitchCase="2">
      <br>
      <br>
      <ion-row>
        <ion-col>
          <canvas #lineCanvasTimer colours="[ { fillColor: '#ffff00' }, {
            fillColor: '#0066ff' } ]"></canvas>
        </ion-col>
      </ion-row>
      <div class="text-center tp-10">
        <span class="chart-total">
          TOTAL: 206 h43m
        </span>
      </div>
    </div>
    <div *ngSwitchCase="3">
      <br>
      <br>
      <ion-row>
        <ion-col>
          <canvas #lineCanvasEuro colours="[ { fillColor: '#ffff00' }, {
            fillColor: '#0066ff' } ]"> </canvas>
        </ion-col>
      </ion-row>
      <div class="text-center tp-10">
        <span class="chart-total">
          TOTAL: 42,89 €
        </span>
      </div>
    </div>
    <div *ngSwitchCase="4">
      <ion-card mode="ios">
        <ion-card-content style="padding: 0px;">
          <ion-row>
            <ion-col>
              <div class="history-title">
                INICIO 12/05/2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11:25
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="d-flex-v-center">
                <div class="history-text">
                  <small>TIEMPO</small>: <b>9h 21m</b>
                </div>
                <div class="vertical-divider"></div>
                <div class="history-text">
                  <small>ENERGÍA</small> : <b>10.3kWh</b>
                </div>
              </div>
              <div class="sum-value">
                3,12€
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card mode="ios">
        <ion-card-content style="padding: 0px;">
          <ion-row>
            <ion-col>
              <div class="history-title">
                INICIO 12/05/2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11:25
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="d-flex-v-center">
                <div class="history-text">
                  <small>TIEMPO</small>: <b>9h 21m</b>
                </div>
                <div class="vertical-divider"></div>
                <div class="history-text">
                  <small>ENERGÍA</small> : <b>10.3kWh</b>
                </div>
              </div>
              <div class="sum-value">
                3,12€
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card mode="ios">
        <ion-card-content style="padding: 0px;">
          <ion-row>
            <ion-col>
              <div class="history-title">
                INICIO 12/05/2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11:25
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="d-flex-v-center">
                <div class="history-text">
                  <small>TIEMPO</small>: <b>9h 21m</b>
                </div>
                <div class="vertical-divider"></div>
                <div class="history-text">
                  <small>ENERGÍA</small> : <b>10.3kWh</b>
                </div>
              </div>
              <div class="sum-value">
                3,12€
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <div class="d-flex-v-center">
        <div class="border-divider"></div>
        <div class="statisctics-total">TOTAL</div>
        <div class="border-divider"></div>
      </div>
      <ion-card mode="ios" style="background: #ed0000;
        box-shadow: 0px 20px 75px rgba(221,221,221,0.55); margin: 5px 15px ">
        <ion-card-content>
          <ion-row>
            <ion-col class="text-center">
              <div class="total-value-text"><strong>6</strong></div>
              <div class="total-value-text"><small>SESIONES</small></div>
            </ion-col>
            <ion-col class="text-center">
              <div class="total-value-text"><strong>36h 21m</strong></div>
              <div class="total-value-text"><small>TIEMPO</small></div>
            </ion-col>
            <ion-col class="text-center">
              <div class="total-value-text"><strong>54.3kWh</strong></div>
              <div class="total-value-text"><small>ENERGÍA</small></div>
            </ion-col>
            <ion-col class="text-center">
              <div class="total-value-text"><strong>9,42 €</strong></div>
              <div class="total-value-text"><small>COSTE</small></div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
    <br>
  </div>
  <canvas #lineCanvas style="display: none;"></canvas>
  <canvas #lineCanvasTimer style="display: none;"></canvas>
  <canvas #lineCanvasEuro style="display: none;"></canvas>

</ion-content>
