<ion-content fullscreen>
  <img src="assets/ico-close.png" class="close-icon" routerLink="/home" routerDirection="forward">
  <div class="charger-form">
    <ion-row>
      <ion-col>
        <div class="charger-title">
        <ion-label >
          NUEVO CARGADOR
        </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="charge-input-group">
          <input class="charger-input" type="number" placeholder="Número ID">
          
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
