/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.logo-img {
  text-align: center;
  padding-top: 90px;
}
.logo-img img {
  width: 40vw;
}
.form {
  padding: 0 50px;
}
.form-group {
  width: 100%;
}
.input-group {
  width: 100%;
}
.form-control {
  opacity: 0.54;
  border: solid 1px #cfd0d1;
  background: #f3f3f3;
  color: #979899;
  font-family: "SFUIDisplay-Light";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  width: 100%;
  padding: 5px 10px;
  outline: none;
}
.forgot-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 36px;
  text-align: right;
}
.forgot-text a {
  color: #5b5a5a;
  font-family: "SFUIDisplay-Light";
  text-decoration: none;
  outline: none;
  text-align: right;
}
.signin-button {
  //   border: solid 1px #cfd0d1;
  background: #ed0000;
  box-shadow: 0px 13px 28px rgba(237, 0, 0, 0.53);
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  width: 100%;
  outline: none;
  border-radius: 40px;
}
.signin-button:hover {
  opacity: 0.8;
}
.or {
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-weight: 600;
  line-height: 44px;
}
.google-img {
  width: 20px;
  position: absolute;
  margin-left: -27px;
  margin-top: 12px;
}
.google-button {
  border: solid 1px #cfd0d1;
  background: #4d88ea;
  box-shadow: 0px 13px 28px rgba(77, 136, 234, 0.52);
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  width: 100%;
  outline: none;
  border-radius: 40px;
}
.google-button:hover {
  opacity: 0.8;
}
.register-group {
  padding-top: 40px;
  // padding-bottom: 30px;
  text-align: center;
  color: #505050;
  //   font-family: "SFUIDisplay-Light";
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
.register-group a {
  text-decoration: none;
  color: #ed0000;
}
.close-icon {
  width: 25px;
  position: absolute;
  top: 25px;
  left: 18px;
  cursor: pointer;
  outline: none;
  z-index: 10;
}
.register-title {
  padding-top: 130px;
  padding-bottom: 30px;
  color: #5b5a5a;
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  line-height: 63px;
  text-align: center;
  letter-spacing: 2px;
}
.register-text {
  color: #747474;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  margin-left: 12px;
  width: calc(100% - 30px);
}
.d-flex {
  display: flex;
}
.d-flex-center {
  display: flex;
  justify-content: center;
}
.d-flex-v-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.check-group {
  display: flex;
  padding: 10px 0;
}
.checkbox {
  //   width: 30px;
  margin: auto;
  //   width: 10%;
}
.forgot-form {
  padding: 40px 30px 25px;
  border: solid 1px #cfd0d1;
  background: #fbfbfb;
  min-height: 350px;
}
.forgot-title {
  text-align: center;
  color: #5b5a5a;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  //   line-height: 63px;
  text-align: center;
  letter-spacing: 2px;
}
.forgot-form .forgot-text {
  color: #979899;
  font-family: "SFUIDisplay-Light";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding: 5px 0;
}
.forgot-img img {
  width: 80px;
  height: 80px;
  margin-top: -116px;
}
.forgot-email {
  padding-left: 30px;
}
.email-icon {
  position: absolute;
  background-color: #979899;
  padding: 13px 6px;
}
.done-form {
  background: linear-gradient(180deg, red, #fd1d02e0, #fa3a32d6, #f93030bd);
  min-height: 100vh;
  padding: 30px 50px 0;
  text-align: center;
}
.done-form img {
  padding: 30px 0 20px;
}
.done-title {
  text-align: center;
  color: white;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  //   line-height: 63px;
  text-align: center;
  letter-spacing: 1px;
}
.done-text {
  text-align: center;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
}
.done-button {
  background: #ffffff;
  box-shadow: 0px 13px 28px rgba(237, 0, 0, 0.53);
  color: #ed0000;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  width: 100%;
  outline: none;
  border-radius: 40px;
}
.setting-img {
  width: 74px;
  position: absolute;
  cursor: pointer;
  outline: none;
}
.setting-img:hover {
  opacity: 0.8;
}
.options-img {
  position: absolute;
  width: 50px;
  right: 10px;
  top: 30px;
  cursor: pointer;
  outline: none;
}
.options-img:hover {
  opacity: 0.8;
}
.date-time {
  color: #343434;
  font-family: "Avenir-Book";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding-top: 40px;
}
.date-time ion-datetime {
  width: 130px;
  border: 1px solid #ebebeb;
  border-radius: 30px;
  margin: auto;
  padding: 8px 10px;
}
.progress-group {
  padding: 10px 10px;
}
.progress-text {
  color: #787786;
  font-family: Arial;
  font-size: 14px;
  font-weight: 500;
  //   line-height: 36px;
}
.progress-title {
  color: #4a4956;
  font-family: Arial;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.home-title {
  color: #4a4956;
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.plus-img {
  position: absolute;
  width: 50px;
  right: 10px;
  outline: none;
}
.device-card-text {
  text-align: center;
  color: #787786;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.text-center {
  text-align: center;
}
.device-img {
  width: 98px;
  height: 98px;
}
ion-card-header {
  text-align: center;
}
.toolbar-radius {
  border-bottom-right-radius: 30px;
}
.back-icon {
  //   width: 26px;
  height: 26px;
  margin: 20px 10px 6px;
  outline: none;
  cursor: pointer;
}
.back-icon:hover {
  opacity: 0.8;
}
.setting-header-title {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: 500;
  line-height: 88px;
  text-align: center;
}
.edit-icon {
  width: 38px;
}
.setting-form {
  padding: 36px 32px;
}
.privacy {
  background: #ed0000;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  padding: 15px;
  margin-right: 10px;
}
.setting-card-text {
  color: #9b9b9b;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  line-height: 30px;
  //   text-align: right;
  letter-spacing: 0.325px;
}
.d-flex ion-label {
  color: #595959;
  font-family: Arial;
  font-size: 14px;
  font-weight: 600;
}
ion-row {
  outline: none;
}
.notification-img {
  width: 36px;
}
.setting-title {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
.notification-title {
  color: #ed0000;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  //   line-height: 41px;
  text-align: center;
  padding: 10px 5px;
}
.notification-card-title {
  color: #ed0000 !important;
  font-family: Arial;
  font-size: 13px;
  font-weight: 600;
}
.arrow-img {
  width: 17px;
}
.notification-question-title {
  font-family: Arial;
  color: black;
  font-size: 14px;
  font-weight: 600;
}
.notification-question-text {
  color: #595959;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.425px;
  line-height: 24px;
}
.d-flex-v-space {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
}
.path-img {
  width: 8px;
}
.slider-group {
  padding: 10px 0;
}
.slider-item {
  width: 30vw;
  //   height: 26vw;
  border-radius: 10px;
  background: #f5f5f5;
  text-align: center;
}
.slider-img {
  padding: 5px 5px 0;
  width: 80%;
  height: 80%;
}
.slider-text {
  background: red;
  color: #ffffff;
  font-family: Arial;
  font-size: 9px;
  font-weight: 700;
  //   line-height: 23px;
  padding: 2px 0;
  text-align: center;
  letter-spacing: 0.1px;
  border-radius: 10px;
}
.card-popup-img {
  position: absolute;
  width: 30px !important;
  right: 7px;
  cursor: pointer;
}
.divider {
  border: solid 0.7px #ed0000;
}
.form-textarea {
  width: 100%;
  outline: none;
  border: none;
  padding: 4px;
  border: solid 0.7px #ed0000;
  border-radius: 10px;
  font-size: 14px;
  filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.15));
  background-color: #ffffff;
}
.charger-form {
  background: #f5f6f7;
  min-height: 100vh;
}
.charger-title {
  padding: 50px 0 5px;
  color: #ed0000;
  font-family: Arial;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
}
.charger-border {
  width: 60px;
  border: 1px solid red;
  margin: auto;
}
.charge-input-group {
  margin: 0px 30px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.charger-input {
  opacity: 0.54;
  border: solid 1px #cfd0d1;
  background: #f3f3f3;
  color: #979899;
  font-family: "SFUIDisplay-Light";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  width: 100%;
  padding: 5px 10px;
  outline: none;
  padding-right: 20px;
}
.infor-icon {
  color: grey;
  position: absolute;
  cursor: pointer;
  margin-left: -25px;
  margin-top: 7px;
  font-size: 20px;
  z-index: 100;
}
.infor-icon:hover {
  color: red;
}
.tooltip {
  //   position: relative;
  display: inline-block;
  //   border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  border: 1px solid red;
  margin-left: -146px;
  margin-top: -49px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.charger-slider {
  background: #ffffff;
}
.slider-title {
  color: #ed0000;
  font-family: Arial;
  font-size: 15px;
  font-weight: 500;
  //   line-height: 30px;
  text-align: center;
  letter-spacing: 0.6px;
  padding: 15px 0 0;
}
.charger-action {
  padding: 0px 30px;
}
.network-form {
  padding: 70px 30px 20px;
}
.network-title {
  color: #ed0000;
  font-family: Arial;
  font-size: 18px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  //   letter-spacing: 2px;
}
.network-select {
  border: 1px solid #979797;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.network-input {
  border: 1px solid #979797;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-right: 30px !important;
}
.eye-icon {
  position: absolute;
  width: 27px;
  right: 13px;
  margin-top: -31px;
  z-index: 10;
}
.network-text {
  color: #6a6a6a;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  text-align: right;
  text-decoration: underline;
  letter-spacing: 0.3px;
  cursor: pointer;
}
.device-title {
  // background: #ffffff;
  // color: rgba(0, 0, 0, 0);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 67px;
  padding: 0 10px;
}
.connection {
  padding: 0px 10px;
}
.control {
  background: #f5f5f5;
  border: solid 1px #eee6e6;
  width: 45vw;
  height: 12vw;
  border-radius: 5px;
  margin-top: -13px;
  z-index: 14;
  position: absolute;
  padding: 5px;
}
.control-img {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.control-img img {
  width: 22px;
  height: 22px;
  cursor: pointer;
  outline: none;
  // width: 100%;
}
.border-div {
  border-right: 1px solid red;
  border-left: 1px solid red;
}
.alert-card {
  background: radial-gradient(circle, #1c62cb, #75cae0, #7acfe2, #8b8b8b);
  box-shadow: 0px 20px 75px rgba(221, 221, 221, 0.55);
  margin-top: 5px;
}
.alert-img {
  width: 30px;
  height: 30px;
}
.alert-text {
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-weight: 500;
  // line-height: 45px;
  text-align: center;
  margin: 0px 3px;
}
.staticstics-card ion-card-content {
  padding: 0px;
}
.staticstics-card-header {
  padding: 15px 15px 0;
  display: flex;
  align-items: center;
}
.staticstics-card-header img {
  width: 30px;
}
.staticstics-card-title {
  color: #474747;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  // line-height: 44px;
  text-align: right;
  // margin-left: 10px;
}
.staticstics-card-text {
  color: #474747;
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  // line-height: 44px;
}
.staticstics-card-text div {
  color: #474747;
  font-family: Arial;
  font-size: 9px;
  font-weight: 400;
  // line-height: 44px;
}
.segment-ion {
  background: #de0404;
  box-shadow: 0px 20px 75px rgba(221, 221, 221, 0.55);
  color: black;
}
ion-segment-button {
  // color: white;
  font-size: 10px;
}
.share-card-text {
  color: #474747;
  font-family: Arial;
  font-size: 11px;
  font-weight: 500;
  // line-height: 34px;
  text-align: center;
}
.next-arrow {
  width: 40px;
  outline: none;
  cursor: pointer;
}
.compare-img {
  text-align: center;
}
.compare-img img {
  width: 30px;
  text-align: center;
}
.compare-card {
  padding: 5px 10px;
}
.compare-card ion-card-content {
  padding: 0px;
}
.option-icon {
  position: absolute;
  width: 30px;
  right: 20px;
  margin-top: 20px;
  outline: none;
}
ion-card-header {
  outline: none;
}
.option-title {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 7px 20px;
}
.option-sub-title {
  font-weight: normal !important;
}
.information-img {
  height: 50px;
  width: 50px;
}
.configuration-card {
  margin-top: -25px;
  z-index: 15;
}
.configuration-card ion-card-content {
  padding: 0px;
}
.configuration-img {
  width: 160px;
  height: 160px;
  margin: 10px 40px;
}
.configuration-card-text {
  background: red;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: 600;
  //   line-height: 23px;
  padding: 3px 0;
  text-align: center;
  letter-spacing: 0.1px;
  border-radius: 10px;
}
.delete-icon {
  position: absolute;
  width: 50px;
  right: 3px;
  cursor: pointer;
  outline: none;
}
.edit-img {
  position: absolute;
  width: 24px;
  margin-top: -3px;
  margin-left: 9px;
}
.option-img {
  width: 45px;
}
.option-card-title {
  color: #ed0000;
  font-family: Arial;
  font-size: 14px;
  font-weight: 500;
  // line-height: 40px;
  text-align: center;
  padding-top: 6px;
}
.option-card-text {
  color: #474747;
  font-family: "Gilroy-Medium";
  font-size: 12px;
  font-weight: 400;

  text-align: center;
}
.option-form {
  padding: 0 20px 30px;
}
.option-buttion {
  background: #de0000;
  box-shadow: 0px 20px 75px rgba(221, 221, 221, 0.55);
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  outline: none;
}
.wifi-icon {
  width: 30px;
}
.toolbar-left-radius {
  border-bottom-left-radius: 30px;
}
.text-center a {
  text-decoration: none;
}
.limit-card {
  // margin-top: -25px;
  z-index: 15;
  padding: 0px;
}
.limit-card ion-card-content {
  padding: 0px;
}
.limit-card-title {
  background: red;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: 600;
  //   line-height: 23px;
  padding: 3px 0;
  text-align: center;
  letter-spacing: 0.1px;
  border-radius: 10px;
}
.limit-card-text {
  color: #474747;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
.optoin-limit-text {
  color: #474747;
  font-family: "Gilroy-Medium";
  font-size: 13px;
  font-weight: 400;
  // line-height: 31.04646px;
  text-align: center;
}
.active-text {
  color: #ed0000;
  font-family: Arial;
  font-size: 13px;
  font-weight: 700;
  // line-height: 41px;
  text-align: center;
}
.protect-card-text {
  font-size: 12px !important;
}
.ampere-value {
  color: #474747;
  font-family: Arial;
  font-size: 22px;
  font-weight: 600;
  // line-height: 110px;
  text-align: center;
}
.ampere-text {
  color: #474747;
  font-family: Arial;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.program-card ion-card-content {
  padding: 0px;
}
.program-card {
  margin: -40px 30px;
  z-index: 10;
  border: solid 1px #dedede;
  background: #f5f5f5;
}
.program-icon {
  width: 26px;
  padding-top: 10px;
}
.program-card-title {
  color: #ed0000;
  font-family: Arial;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
}
.isActive-div {
  border: solid 1px #ed0000;
  background: #a8a8a8;
  width: 26px;
  height: 26px;
  border-radius: 15px;
  color: white;
  margin: 2px 3px;
  cursor: pointer;
}
.isNonActive-div {
  width: 26px;
  height: 26px;
  color: black;
  margin: 2px 3px;
  cursor: pointer;
}
.timer-group {
  color: #474747;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 36px;
}
.timper-input {
  background: #ececec;
  color: #7a7a7a;
  font-family: Arial;
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  outline: none;
  width: 12%;
  margin: 0px 4px;
}
.add-button {
  background: #ed0000;
  box-shadow: 0px 2px 11px rgba(158, 158, 158, 0.5);
  font-size: 14px;
  padding: 5px 30px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  outline: none;
}
.card-button {
  background: #ed0000;
  box-shadow: 0px 2px 11px rgba(158, 158, 158, 0.5);
  font-size: 14px;
  padding: 10px 30px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  outline: none;
  width: 100%;
}
.timer-card {
  background-color: white;
}
.timer-card-header {
  background: #ed0000;
  color: white;
  box-shadow: 0px 20px 75px rgba(221, 221, 221, 0.55);
  border-radius: 8px;
}
.timer-card-text {
  color: #474747;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
}
.close-img {
  position: absolute;
  right: 5px;
  width: 26px;
  cursor: pointer;
  outline: none;
}
.white {
  color: white !important;
}
.sub-notification {
  width: 16px !important;
  height: 16px !important;
  position: absolute;
  margin-left: 16px;
  margin-top: 5px;
}
.menu-icon {
  position: absolute;
  width: 6px;
  right: 18px;
  margin-top: -33px;
  outline: none;
  cursor: pointer;
}
.dater-text {
  color: #494949;
  font-family: Arial;
  font-size: 13px;
  font-weight: 700;
  line-height: 32px;
}
.datetime-ion {
  background: #ffffff;
  box-shadow: 0px 20px 75px rgba(88, 86, 86, 0.55);
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  // line-height: 32px;
  padding: 5px 30px 5px 8px;
}
.calendar-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 11;
  margin-left: 70px;
}
.chart-total {
  background: #ed0000;
  box-shadow: 0px 0px 9px #5b5555;
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 500;
  padding: 3px 10px;
  border-radius: 10px;
}
.history-title {
  color: #ed0000;
  font-family: Arial;
  font-size: 13px;
  font-weight: 700;
  line-height: 26px;
  padding: 0 10px;
}
.history-text {
  color: #494949;
  font-family: Arial;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
}
.vertical-divider {
  border: solid 1px #ed0000;
  margin: 0 6px;
  height: 13px;
}
.sum-value {
  background: #ed0000;
  position: absolute;
  right: 0px;
  top: -35px;
  width: 100px;
  color: white;
  border-bottom-left-radius: 34px;
  padding: 2px 3px;
  text-align: center;
  font-size: 13px;
  border-left: 20px solid transparent;
}
.border-divider {
  border: 1px solid grey;
  width: 100%;
}
.total-value-text {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 13px;
  font-weight: 500;
}
