/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.logo-img {
  text-align: center;
  padding-top: 100px;
}
.logo-img img {
  width: 40vw;
}
.form {
  padding: 0 50px;
}
.form-group {
  width: 100%;
}
.input-group {
  width: 100%;
}
.form-control {
  opacity: 0.54;
  border: solid 1px #cfd0d1;
  background: #f3f3f3;
  color: #979899;
  font-family: "SFUIDisplay-Light";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  width: 100%;
  padding: 5px 10px;
  outline: none;
}
.forgot-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 36px;
  text-align: right;
}
.forgot-text a {
  color: #5b5a5a;
  font-family: "SFUIDisplay-Light";
  text-decoration: none;
  outline: none;
  text-align: right;
}
.signin-button {
  //   border: solid 1px #cfd0d1;
  background: #ed0000;
  box-shadow: 0px 13px 28px rgba(237, 0, 0, 0.53);
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  width: 100%;
  outline: none;
  border-radius: 40px;
}
.signin-button:hover {
  opacity: 0.8;
}
.or {
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-weight: 600;
  line-height: 57px;
}
.google-img {
  width: 20px;
  position: absolute;
  margin-left: -27px;
  margin-top: 12px;
}
.google-button {
  border: solid 1px #cfd0d1;
  background: #4d88ea;
  box-shadow: 0px 13px 28px rgba(77, 136, 234, 0.52);
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  width: 100%;
  outline: none;
  border-radius: 40px;
}
.google-button:hover {
  opacity: 0.8;
}
.register-group {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  color: #505050;
  //   font-family: "SFUIDisplay-Light";
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
.register-group a {
  text-decoration: none;
  color: #ed0000;
}
.close-icon {
  width: 30px;
  position: absolute;
  top: 25px;
  left: 18px;
  cursor: pointer;
  outline: none;
}
.register-title {
  padding-top: 150px;
  padding-bottom: 30px;
  color: #5b5a5a;
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  line-height: 63px;
  text-align: center;
  letter-spacing: 2px;
}
.register-text {
  color: #747474;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  margin-left: 12px;
  width: calc(100% - 30px);
}
.d-flex {
  display: flex;
}
.d-flex-center {
  display: flex;
  justify-content: center;
}
.d-flex-v-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.check-group {
  display: flex;
  padding: 10px 0;
}
.checkbox {
  //   width: 30px;
  margin: auto;
  //   width: 10%;
}
.forgot-form {
  padding: 50px 30px 30px;
  border: solid 1px #cfd0d1;
  background: #fbfbfb;
}
.forgot-title {
  text-align: center;
  color: #5b5a5a;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  //   line-height: 63px;
  text-align: center;
  letter-spacing: 2px;
}
.forgot-form .forgot-text {
  color: #979899;
  font-family: "SFUIDisplay-Light";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding: 5px 0;
}
.forgot-img img {
  width: 80px;
  height: 80px;
  margin-top: -116px;
}
.forgot-email {
  padding-left: 30px;
}
.email-icon {
  position: absolute;
  background-color: #979899;
  padding: 13px 6px;
}
.done-form {
  background: linear-gradient(180deg, red, #fd1d02e0, #fa3a32d6, #f93030bd);
  min-height: 100vh;
  padding: 30px 50px;
  text-align: center;
}
.done-form img {
  padding: 30px 0;
}
.done-title {
  text-align: center;
  color: white;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  //   line-height: 63px;
  text-align: center;
  letter-spacing: 1px;
}
.done-text {
  text-align: center;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
}
.done-button {
  background: #ffffff;
  box-shadow: 0px 13px 28px rgba(237, 0, 0, 0.53);
  color: #ed0000;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  width: 100%;
  outline: none;
  border-radius: 40px;
}
.setting-img {
  width: 74px;
  position: absolute;
  cursor: pointer;
  outline: none;
}
.setting-img:hover {
  opacity: 0.8;
}
.options-img {
  position: absolute;
  width: 50px;
  right: 10px;
  top: 30px;
  cursor: pointer;
  outline: none;
}
.options-img:hover {
  opacity: 0.8;
}
.date-time {
  color: #343434;
  font-family: "Avenir-Book";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding-top: 40px;
}
.date-time ion-datetime {
  width: 130px;
  border: 1px solid #ebebeb;
  border-radius: 30px;
  margin: auto;
  padding: 8px 10px;
}
.progress-group {
  padding: 10px 10px;
}
.progress-text {
  color: #787786;
  font-family: Arial;
  font-size: 14px;
  font-weight: 500;
  //   line-height: 36px;
}
.progress-title {
  color: #4a4956;
  font-family: Arial;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.home-title {
  color: #4a4956;
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.plus-img {
  position: absolute;
  width: 50px;
  right: 10px;
}
.device-card-text {
  text-align: center;
  color: #787786;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.text-center {
  text-align: center;
}
.device-img {
  width: 98px;
  height: 98px;
}
ion-card-header {
  text-align: center;
}
.toolbar-radius {
  border-bottom-right-radius: 30px;
}
.back-icon {
  //   width: 26px;
  height: 26px;
  margin: 20px 10px 6px;
  outline: none;
  cursor: pointer;
}
.back-icon:hover {
  opacity: 0.8;
}
.setting-header-title {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: 500;
  line-height: 88px;
  text-align: center;
}
.edit-icon {
  width: 38px;
}
.setting-form {
  padding: 40px 30px;
}
.privacy {
  background: #ed0000;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  padding: 15px;
  margin-right: 10px;
}
.setting-card-text {
  color: #9b9b9b;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  line-height: 30px;
  //   text-align: right;
  letter-spacing: 0.325px;
}
.d-flex ion-label {
  color: #595959;
  font-family: Arial;
  font-size: 14px;
  font-weight: 600;
}
ion-row {
  outline: none;
}
.notification-img {
  width: 36px;
}
.setting-title {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
.notification-title {
  color: #ed0000;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  //   line-height: 41px;
  text-align: center;
  padding: 10px 5px;
}
.notification-card-title {
  color: #ed0000 !important;
  font-family: Arial;
  font-size: 13px;
}
.arrow-img {
  width: 17px;
}
.notification-question-title {
  font-family: Arial;
  color: black;
  font-size: 14px;
  font-weight: 600;
}
.notification-question-text {
  color: #595959;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.425px;
  line-height: 24px;
}
.d-flex-v-space {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
}
.path-img {
  width: 8px;
}
.slider-group {
  padding: 10px 0;
}
.slider-item {
  width: 30vw;
  //   height: 26vw;
  border-radius: 10px;
  background: #f5f5f5;
  text-align: center;
}
.slider-img {
  padding: 5px 5px 0;
  width: 80%;
  height: 80%;
}
.slider-text {
  background: red;
  color: #ffffff;
  font-family: Arial;
  font-size: 9px;
  font-weight: 700;
  //   line-height: 23px;
  padding: 2px 0;
  text-align: center;
  letter-spacing: 0.1px;
  border-radius: 10px;
}
.card-popup-img {
  position: absolute;
  width: 30px !important;
  right: 7px;
  cursor: pointer;
}
.divider {
  border: solid 0.7px #ed0000;
}
.form-textarea {
  width: 100%;
  outline: none;
  border: none;
  padding: 4px;
  border: solid 0.7px #ed0000;
  border-radius: 10px;
  font-size: 14px;
  filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.15));
  background-color: #ffffff;
}
