<ion-content fullscreen>
  <img src="assets/ico-close.png" class="close-icon" routerLink="/login" routerDirection="forward">
  <div class="logo-img">
    <img src="assets/logo.png">
  </div>
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="form">
      <div class="forgot-form">
        <div class="forgot-img d-flex-v-center">
          <img src="assets/forgot.png">
        </div>
        <div class="forgot-title">
          ¿HAS OLVIDADO LA CONTRASEÑA?
        </div>
        <br>
        <div class="forgot-text">
          ¡No pasa nada! Introduce el email
          con el que te registraste en nuestra app.
        </div>
        <div class="forgot-text">
          En unos minutos recibirás un correo con
          los pasos para restablecer la contraseña.
        </div>
        <br>
        <div class="form-group">
          <div class="input-group">
            <ion-icon name="mail" class="email-icon"></ion-icon>
            <input type="email" class="form-control forgot-email" name="email" formControlName="email"
              placeholder="Escribe tu correo electrónico" required
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          </div>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Title is required</div>
          </div>
        </div>
        <br>
        <button class="signin-button" type="submit">ENVIAR</button>
      </div>
    </div>
  </form>
  <br>
  <br>
</ion-content>
